/* Default values of elements */
body, html { 
  font: medium/1.5em Verdana, Arial, sans-serif;
  margin: 0; padding: 0; 
}
table { 
  width: 100%; 
  margin: 0; 
  border: 0; 
  border-spacing: 0;
  padding: 0; 
  text-align: left; 
  vertical-align: top; /* Works for Firefox, Not for IE */
}
td {  /* Without this, FireFox ignores the body setting in tables */ 
  font-size: 10pt; 
  font-family: Arial, Helvetica, sans-serif; 
  margin: 0; 
  border: 0; 
  vertical-align: top; 
}
img { 
  border: 0; 
}
h1 { 
  text-align: center; 
  font-size: 16pt; 
  font-weight: bold; 
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  color: rgb(80,0,0);
}
h2 { 
  text-align: left; 
  font-size: 16px; 
  font-weight: bold; 
  font-family: "Century Gothic", Arial, Helvetica, sans-serif; 
  color: rgb(80,0,0);
}
h3
{ 
  text-align: left; 
  font-size: 14px; 
  font-weight: bold; 
  font-family: "Century Gothic", Arial, Helvetica, sans-serif; 
  color: rgb(80,0,0);
}
li {
  margin-bottom: .5em 
}
dd {
  margin-bottom: .5em;
}

/* Page Header */
#header { 
  width: 100%; 
  margin: 0; 
  padding: 0;
  text-align: left; 
}
#header h1 {
  font-size: 16pt;
}
#header td {
  vertical-align: bottom;
  text-align: center;
}
td.logo {
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 0;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #E0E0E0;
  color: rgb(0,0,255); 
}
td.logo a:link, td.logo a:visited, td.logo a:active { 
  text-decoration: none; 
  color: rgb(0,0,255); 
}
td.navselect {
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  font-size: 16px; 
  font-weight: bold; 
  color: rgb(80, 0, 0);
  padding-left: 5px;
  padding-right: 5px; 
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  vertical-align: bottom;
}
td.navlink { 
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  font-size: 16px; 
  font-weight: bold; 
  color: rgb(80,0,0); 
  background-color: #E0E0E0;
  padding-left: 5px;
  padding-right: 5px; 
  border-bottom: 2px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  vertical-align: bottom; 
}
td.navlink a:link, td.navlink a:visited, td.navlink a:active, 
td.navselect a:link, td.navselect a:visited, td.navselect a:active { 
  text-decoration: none; 
  color: rgb(80,0,0) 
}
td.navlink a:hover, td.navselect a:hover { 
  color: rgb(0,0,255); 
}
td.spacer {
  border-bottom: 2px solid black;
}

/* Page Content */
table.content { 
  margin: 0; 
  padding: 0; 
  text-align: left; 
  vertical-align: top; 
}
td.left-content { 
  width: 20%;
  min-width: 133px;
  max-width: 150px;
  vertical-align: top;
  text-align: left; 
  padding: 0; 
}
td.main-content {
  width: 55%;
  vertical-align: top; 
  text-align: left; 
  padding-left: 1em; 
  padding-right: 1em;
}
td.right-content {
  width: 25%;
  min-width: 150px;
  max-width: 276px;
  vertical-align: top; 
  border: 0; 
  text-align: left;
  padding: 0; 
}
#content { 
  margin: 0 10%; 
}
.left-column {
  float: left;
  width: 20%;
}
.middle-column {
  float: left;
  width: 51%;
  padding-left: 2%;
  padding-right: 2%;
}
/* .middle-column p, .middle-column h1, .middle-column h2 {
  padding-left: 1em;
  padding-right: 1em;
} */
.right-column {
  float: left;
  width: 25%;
}
div.pic { 
  clear: both;
  margin: 0 0 2em 0;
  padding: 0;
  float: left;
  width: 100%; 
}
div.odd img { 
  float: left; 
  margin: 0 1em 0 0; 
}
div.even img { 
  float: right; 
  margin: 0 0 0 1em; 
}
div.pic hr { 
  margin: 0; 
  padding: 0; 
}
p.sig { 
  margin: 0 0 0 60%; 
}
p.rev { 
  font-size: small; 
  font-style: italic; 
}

/* News Elements */
.news { border: 0; padding: 0 10px; background: #E0E0E0; 
  font-size: 9pt; font-family: Verdana, Arial, Helvetica, Geneva, Sans-serif; 
  font-style: normal; font-weight: normal; }
.news p { margin: 0; padding: 5px 0; }
.news p.newsitem { border-top: 1px solid #999; }
.news p.headline { font-size: 10pt; font-weight: bold; }
